body{
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: rgb(63, 44, 44);
}

h1{
    color: hsl(223, 100%, 64%);
}

form{
    background-color: hsl(0, 0%, 76%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px ;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px ;

}
label{
    font-size: 1.5em;
    font-weight: bold;
    
}
button{
    background-color: rgb(136, 156, 103);
    border-radius: 5px;
    padding: 8px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
}

#result{
  font-size: 1.5rem;
  font-weight :bold
} 